<span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 ng-star-inserted active">
    <div _ngcontent-c2="" _ngcontent-c4=""
        class="playing-cards-popup-wrapper active ng-tns-c4-1 ng-trigger ng-trigger-slideInOut ng-star-inserted">
        <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup-scroll">
            <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup playing-cards-popup-lotto">
                <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup__title">
                    <button _ngcontent-c2="" _ngcontent-c4=""
                        class="playing-cards-popup__close-button_lotto-keyboard"></button>
                    <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup__title-left">
                        <button _ngcontent-c2="" _ngcontent-c4=""
                            class="playing-cards-popup__trashcan-button_lotto"></button>
                    </div>
                    <p _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup__right-title-text_lotto-keyboard">
                        בחר 6 מספרים וחזק 1
                    </p>
                </div>
                <ul _ngcontent-c2="" class="playing-cards-popup__counters">
                    <li _ngcontent-c2="" class="playing-cards-popup__counter">
                        <p _ngcontent-c2="" class="text">
                            Lorem ipsum dolor sit.
                        </p>
                        <input _ngcontent-c2="" class="input" type="number" value="0" /><button _ngcontent-c2=""
                            class="increase" type="button">
                            +</button><button _ngcontent-c2="" class="decrease" type="button">
                            -
                        </button>
                    </li>
                    <li _ngcontent-c2="" class="playing-cards-popup__counter">
                        <p _ngcontent-c2="" class="text">
                            Lorem ipsum dolor sit.
                        </p>
                        <input _ngcontent-c2="" class="input" type="number" value="0" /><button _ngcontent-c2=""
                            class="increase" type="button">
                            +</button><button _ngcontent-c2="" class="decrease" type="button">
                            -
                        </button>
                    </li>
                </ul>
                <div _ngcontent-c2="" _ngcontent-c4="" class="schedule">
                    <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__container">
                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__info"><span _ngcontent-c2=""
                                _ngcontent-c4="" class="schedule__info-color schedule__info-color_yellow"></span>
                            <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                חזק
                            </p>
                        </span>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted schedule__cell_active"
                            style="">
                            1
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            2
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            3
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            4
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            5
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            6
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            7
                            <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                        </div>
                    </div>
                    <div _ngcontent-c2="" _ngcontent-c4=""
                        class="schedule__container-large schedule__container-large-lotto">
                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__info"><span _ngcontent-c2=""
                                _ngcontent-c4="" class="schedule__info-color"></span>
                            <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                מספרים
                            </p>
                        </span>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted schedule__cell_active"
                            style="">
                            1
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            2
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            3
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            4
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            5
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            6
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            7
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            8
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            9
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            10
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            11
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            12
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            13
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            14
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            15
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            16
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            17
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            18
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            19
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            20
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            21
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            22
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            23
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            24
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            25
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            26
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            27
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            28
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            29
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            30
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            31
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            32
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            33
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            34
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            35
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            36
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted" style="">
                            37
                            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 schedule__cell-underline"></span>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c2="" _ngcontent-c4="" class="bottom-buttons">
                    <div _ngcontent-c2="" _ngcontent-c4="" class="bottom-buttons__count_lotto_keyboard">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                            מספרים 0/6
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                            חזק 0/1
                        </p>
                    </div>
                </div>
                <button _ngcontent-c2="" _ngcontent-c4="" class="small-content-undertable-button">
                    approve</button>
            </div>
        </div>
    </div>
</span>