<header _ngcontent-c1="" class="header desktop-header">
    <div _ngcontent-c1="" class="header__logo">
        <a _ngcontent-c1="" ng-reflect-router-link="/home" href="/home"><img _ngcontent-c1="" alt="header-logo"
                class="header__logo-image desktop-logo" src="assets/img/logo/main__logo.png" /></a>
    </div>
    <div _ngcontent-c1="" class="header__menu-button desktop-menu-button">
        <span _ngcontent-c1="" class="header__menu-button-line"></span><span _ngcontent-c1=""
            class="header__menu-button-line"></span><span _ngcontent-c1="" class="header__menu-button-line"></span>
    </div>
    <a _ngcontent-c1="">
        <div _ngcontent-c1="" class="header__back-button header__back-button_blue desktop-back-button"></div>
    </a>
</header>


<div _ngcontent-c1="" class="background-without-zoom">
    <div _ngcontent-c1="" class="zoom">
        <div _ngcontent-c1="" class="mobile-menu">
            <div _ngcontent-c1="" class="mobile-menu__top">
                <div _ngcontent-c1="" class="mobile-menu__menu-button">
                    <span _ngcontent-c1="" class="mobile-menu__menu-button-line"></span><span _ngcontent-c1=""
                        class="mobile-menu__menu-button-line"></span><span _ngcontent-c1=""
                        class="mobile-menu__menu-button-line"></span>
                </div>
                <div _ngcontent-c1="" class="mobile-menu__exit-button"></div>
            </div>
            <div _ngcontent-c1="" class="mobile-menu__list-container"></div>
        </div>
        <!-- <router-outlet _ngcontent-c1=""></router-outlet> -->
        <div>
            <main _ngcontent-c2="" _ngcontent-c4="" class="main">
                <div _ngcontent-c2="" _ngcontent-c4="" class="main__top-line main__top-line_empty">
                    <p _ngcontent-c2="" _ngcontent-c4="" class="main__top-line-text">
                        לוטו
                    </p>
                </div>
                <div _ngcontent-c2="" _ngcontent-c4=""
                    class="small-content small-content__blue lotto-wide-container buttons">
                    <div _ngcontent-c2="" class="small-content__buttons-block">
                        <div _ngcontent-c2="" class="small-content__button-container">
                            <a (click)="openDialog()" _ngcontent-c2="" class="small-content__main-button" type="button">
                                <span _ngcontent-c2="" class="logo"><img _ngcontent-c2="" alt="" src="" /></span><span
                                    _ngcontent-c2="" class="text"> Some text </span><button _ngcontent-c2=""
                                    class="question">
                                    <img _ngcontent-c2="" alt=""
                                        src="assets/img/question-button-blue.png" /></button><span _ngcontent-c2=""
                                    class="arrow"><img _ngcontent-c2="" alt=""
                                        src="assets/img/arrow-blue-button-left-icon.png" /></span>
                            </a>
                        </div>
                        <div _ngcontent-c2="" class="small-content__button-container">
                            <a (click)="openDialog()" _ngcontent-c2="" class="small-content__main-button" type="button">
                                <span _ngcontent-c2="" class="logo"><img _ngcontent-c2="" alt="" src="" /></span><span
                                    _ngcontent-c2="" class="text"> Some text </span><button _ngcontent-c2=""
                                    class="question">
                                    <img _ngcontent-c2="" alt=""
                                        src="assets/img/question-button-blue.png" /></button><span _ngcontent-c2=""
                                    class="arrow"><img _ngcontent-c2="" alt=""
                                        src="assets/img/arrow-blue-button-left-icon.png" /></span>
                            </a>
                        </div>
                        <div _ngcontent-c2="" class="small-content__button-container">
                            <a (click)="openDialog()" _ngcontent-c2="" class="small-content__main-button" type="button">
                                <span _ngcontent-c2="" class="logo"><img _ngcontent-c2="" alt="" src="" /></span><span
                                    _ngcontent-c2="" class="text"> Some text </span><button _ngcontent-c2=""
                                    class="question">
                                    <img _ngcontent-c2="" alt=""
                                        src="assets/img/question-button-blue.png" /></button><span _ngcontent-c2=""
                                    class="arrow"><img _ngcontent-c2="" alt=""
                                        src="assets/img/arrow-blue-button-left-icon.png" /></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c2="" _ngcontent-c4=""
                    class="small-content small-content__blue lotto-wide-container block-with-dropdown">
                    <div _ngcontent-c2="" _ngcontent-c4=""
                        class="small-content__title small-content__title-number-lotto-wide">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__title-number">
                            <img _ngcontent-c2="" _ngcontent-c4="" alt="N1" class="ng-tns-c4-1"
                                src="assets/img/numbers/blue-number-2.png" />
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__title-text">
                            בחר כמות טבלאות
                        </p>
                    </div>
                    <div _ngcontent-c2="" _ngcontent-c4="" class="cards-list card_list_blue cards-list-lotto-wide">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="cards-list__card active">
                            1:1
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="cards-list__card">
                            1:2
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="cards-list__card">
                            1:3
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="cards-list__card">
                            1:4
                        </p>
                    </div>
                    <div _ngcontent-c2="" class="cards-dropdown-block">
                        <p _ngcontent-c2="" class="cards-dropdown-block__text">
                            Lorem ipsum dolor:
                        </p>
                        <div _ngcontent-c2="" class="cards-dropdown-block__dropdown-wrapper">
                            <div _ngcontent-c2="" class="cards-dropdown-block__dropdown">
                                <p _ngcontent-c2="" class="cards-dropdown-block__current">
                                    1
                                </p>
                                <ul _ngcontent-c2="" class="cards-dropdown-block__options-list">
                                    <li _ngcontent-c2="" class="cards-dropdown-block__option">
                                        2
                                    </li>
                                    <li _ngcontent-c2="" class="cards-dropdown-block__option">
                                        3
                                    </li>
                                    <li _ngcontent-c2="" class="cards-dropdown-block__option">
                                        4
                                    </li>
                                    <li _ngcontent-c2="" class="cards-dropdown-block__option">
                                        5
                                    </li>
                                    <li _ngcontent-c2="" class="cards-dropdown-block__option">
                                        6
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c2="" _ngcontent-c4=""
                    class="small-content small-content__blue lotto-wide-container ng-tns-c4-1 ng-star-inserted">
                    <div _ngcontent-c2="" _ngcontent-c4=""
                        class="small-content__title margin-mod small-content__title-number-lotto-wide">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__title-number">
                            <img _ngcontent-c2="" _ngcontent-c4="" alt="N1" class="ng-tns-c4-1"
                                src="assets/img/numbers/blue-number-3.png" />
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__title-text">
                            בחר 6 מספרים וחזק 1
                        </p>
                    </div>
                    <div _ngcontent-c2="" _ngcontent-c4=""
                        class="space-between-item space-between-item-lotto-wide space-between-item-tight">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__title">
                            מספרים
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__title">
                            החזק
                        </p>
                    </div>
                    <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 ng-star-inserted">
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="space-between-item space-between-item-lotto-wide space-between-item-tight">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__cell">
                                <div _ngcontent-c2="" _ngcontent-c4=""
                                    class="balls-container balls-container-wide-lotto balls-container-tight-container">
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="triple-item__right-cell-lotto-wide">
                                        <div _ngcontent-c2="" _ngcontent-c4=""
                                            class="triple-item__number-icon-lotto-wide">
                                            <img _ngcontent-c2="" _ngcontent-c4="" alt="num-1" class="ng-tns-c4-1"
                                                src="assets/img/numbers/grey-number-1.png" />
                                        </div>
                                        <div _ngcontent-c2="" _ngcontent-c4=""
                                            class="triple-item__left-cell-lotto-wide">
                                            <div _ngcontent-c2="" _ngcontent-c4=""
                                                class="triple-item__check-icon-lotto-wide">
                                                <div _ngcontent-c2="" _ngcontent-c4=""
                                                    class="triple-item__icon-lotto-wide"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            1
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            2
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            3
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            4
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            5
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            6
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__cell">
                                <div _ngcontent-c2="" _ngcontent-c4=""
                                    class="balls-container balls-container__small balls-container-tight-container">
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="ball ball_yellow">
                                        <p _ngcontent-c2="" _ngcontent-c4=""
                                            class="grey-number ng-tns-c4-1 ng-star-inserted">
                                            1
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span><span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 ng-star-inserted">
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="space-between-item space-between-item-lotto-wide space-between-item-tight">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__cell">
                                <div _ngcontent-c2="" _ngcontent-c4=""
                                    class="balls-container balls-container-wide-lotto balls-container-tight-container">
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="triple-item__right-cell-lotto-wide">
                                        <div _ngcontent-c2="" _ngcontent-c4=""
                                            class="triple-item__number-icon-lotto-wide">
                                            <img _ngcontent-c2="" _ngcontent-c4="" alt="num-1" class="ng-tns-c4-1"
                                                src="assets/img/numbers/grey-number-2.png" />
                                        </div>
                                        <div _ngcontent-c2="" _ngcontent-c4=""
                                            class="triple-item__left-cell-lotto-wide">
                                            <div _ngcontent-c2="" _ngcontent-c4=""
                                                class="triple-item__check-icon-lotto-wide">
                                                <div _ngcontent-c2="" _ngcontent-c4=""
                                                    class="triple-item__icon-lotto-wide"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            1
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            2
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            3
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            4
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            5
                                        </p>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="ball ball_red grey-number ng-tns-c4-1 ng-star-inserted">
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="grey-number">
                                            6
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="space-between-item__cell">
                                <div _ngcontent-c2="" _ngcontent-c4=""
                                    class="balls-container balls-container__small balls-container-tight-container">
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="ball ball_yellow">
                                        <p _ngcontent-c2="" _ngcontent-c4=""
                                            class="grey-number ng-tns-c4-1 ng-star-inserted">
                                            1
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div _ngcontent-c2="" _ngcontent-c4="" class="small-content small-content__blue lotto-wide-container">
                    <div _ngcontent-c2="" _ngcontent-c4="" class="small-content__title padding-bottom-mod">
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__title-text">
                            עלות מ.פיס:
                        </p>
                        <p _ngcontent-c2="" _ngcontent-c4="" class="small-content__big-value">
                            6.00 ₪
                        </p>
                    </div>
                    <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table">
                        <div _ngcontent-c2="" _ngcontent-c4=""
                            class="small-content-table__row small-content-table__row_title">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    פרסים
                                </p>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    זכייה
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__row">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    פרס ראשון
                                </p>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    7 מיליון ₪
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__row">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    פרס ראשון
                                </p>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    7 מיליון ₪
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__row">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    פרס ראשון
                                </p>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    7 מיליון ₪
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__row">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    פרס ראשון
                                </p>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="small-content-table__cell">
                                <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                    7 מיליון ₪
                                </p>
                            </div>
                        </div>
                    </div>
                    <button _ngcontent-c2="" _ngcontent-c4="" class="small-content-undertable-button">
                        approve</button><button _ngcontent-c2="" _ngcontent-c4=""
                        class="small-content-undertable-button">
                        שלח
                    </button>
                </div>
            </main>
            <span _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1 ng-star-inserted active">
                <div _ngcontent-c2="" _ngcontent-c4=""
                    class="playing-cards-popup-wrapper ng-tns-c4-1 ng-trigger ng-trigger-slideInOut ng-star-inserted">
                    <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup-scroll">
                        <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup playing-cards-popup-lotto">
                            <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup__title">
                                <button _ngcontent-c2="" _ngcontent-c4=""
                                    class="playing-cards-popup__close-button_lotto-keyboard"></button>
                                <div _ngcontent-c2="" _ngcontent-c4="" class="playing-cards-popup__title-left">
                                    <button _ngcontent-c2="" _ngcontent-c4=""
                                        class="playing-cards-popup__trashcan-button_lotto"></button>
                                </div>
                                <p _ngcontent-c2="" _ngcontent-c4=""
                                    class="playing-cards-popup__right-title-text_lotto-keyboard">
                                    בחר 6 מספרים וחזק 1
                                </p>
                            </div>
                            <ul _ngcontent-c2="" class="playing-cards-popup__counters">
                                <li _ngcontent-c2="" class="playing-cards-popup__counter">
                                    <p _ngcontent-c2="" class="text">
                                        Lorem ipsum dolor sit.
                                    </p>
                                    <input _ngcontent-c2="" class="input" type="number" value="0" /><button
                                        _ngcontent-c2="" class="increase" type="button">
                                        +</button><button _ngcontent-c2="" class="decrease" type="button">
                                        -
                                    </button>
                                </li>
                                <li _ngcontent-c2="" class="playing-cards-popup__counter">
                                    <p _ngcontent-c2="" class="text">
                                        Lorem ipsum dolor sit.
                                    </p>
                                    <input _ngcontent-c2="" class="input" type="number" value="0" /><button
                                        _ngcontent-c2="" class="increase" type="button">
                                        +</button><button _ngcontent-c2="" class="decrease" type="button">
                                        -
                                    </button>
                                </li>
                            </ul>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="top-buttons-lotto">
                                <span _ngcontent-c2="" _ngcontent-c4="" class="top-buttons__button-lotto">אוטומטי</span>
                                <div _ngcontent-c2="" _ngcontent-c4="" class="top-buttons__count-lotto">
                                    1 מתוך 2
                                </div>
                                <a _ngcontent-c2="" _ngcontent-c4=""
                                    class="top-buttons__button-lotto-left grey-background">המשך
                                    <span _ngcontent-c2="" _ngcontent-c4="" class="bottom-buttons__arrow"></span></a>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="schedule">
                                <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__container">
                                    <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__info"><span
                                            _ngcontent-c2="" _ngcontent-c4=""
                                            class="schedule__info-color schedule__info-color_yellow"></span>
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                            חזק
                                        </p>
                                    </span>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        1
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        2
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        3
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        4
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        5
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        6
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        7
                                        <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4="" class="schedule__cell schedule__cell-lotto">
                                    </div>
                                </div>
                                <div _ngcontent-c2="" _ngcontent-c4=""
                                    class="schedule__container-large schedule__container-large-lotto">
                                    <span _ngcontent-c2="" _ngcontent-c4="" class="schedule__info"><span
                                            _ngcontent-c2="" _ngcontent-c4="" class="schedule__info-color"></span>
                                        <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                            מספרים
                                        </p>
                                    </span>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        1
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        2
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        3
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        4
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        5
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        6
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        7
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        8
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        9
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        10
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        11
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        12
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        13
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        14
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        15
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        16
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        17
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        18
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        19
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        20
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        21
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        22
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        23
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        24
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        25
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        26
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        27
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        28
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        29
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        30
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        31
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        32
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        33
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        34
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        35
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        36
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                    <div _ngcontent-c2="" _ngcontent-c4=""
                                        class="schedule__cell schedule__cell-lotto ng-tns-c4-1 ng-star-inserted"
                                        style="">
                                        37
                                        <span _ngcontent-c2="" _ngcontent-c4=""
                                            class="ng-tns-c4-1 schedule__cell-underline"></span>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-c2="" _ngcontent-c4="" class="bottom-buttons">
                                <div _ngcontent-c2="" _ngcontent-c4="" class="bottom-buttons__count_lotto_keyboard">
                                    <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                        מספרים 0/6
                                    </p>
                                    <p _ngcontent-c2="" _ngcontent-c4="" class="ng-tns-c4-1">
                                        חזק 0/1
                                    </p>
                                </div>
                            </div>
                            <div _ngcontent-c2="" class="playing-cards-popup__text-input">
                                <p _ngcontent-c2="" class="text">Lorem, ipsum.</p>
                                <input _ngcontent-c2="" class="input" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <!-- </app-lotto-home> -->
        </div>
    </div>
</div>